.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form p {
  font-size: 2rem;
  width: 400px;
}
select {
  height: 40px;
}
input {
  width: 180px;
  height: 40px;
  font-size: 20px;
}
.decision {
  display: flex;
  justify-content: center;
}
.decision input {
  font-size: 20px;
}
form h3 {
  color: red;
}