.title {
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin: 2.5% 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form p {
  font-size: 40px;
  width: 400px;
  margin: 2.5%;
}
select {
  height: 40px;
}
input {
  width: 180px;
  height: 40px;
  font-size: 20px;
}
.decision {
  display: flex;
  justify-content: center;
}
.decision input {
  margin-left: 20px;
  font-size: 20px;
}
form h3 {
  color: red;
}