* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
}
.sidebar {
  border-right:2px solid black ;
  height: 100vh;
  font-size: 200%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
}
.side
.title {
  font-size: 80%;
}
.username {
  font-size: 130%;
  overflow-wrap: break-word;
}
.sidebar_content {
  border-bottom: 1px solid black;
  padding: 20px;
}
.sidebar_content a {
  text-decoration: none;
  color: rgb(61, 75, 209);
  display: block;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  width: 100%;
}
.content {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
}
.select_month {
  font-size: 40px;
  width: 80px;
}
.select_year {
  font-size: 40px;
  width: 130px;
}
.change_month {
  margin-left:10px;
  font-size: 20px;
}
.expense a {
  color: red;
}
.income a {
  color: red;
}
.fixedcosts a {
  color: red;
}
a {
  text-decoration: none;
  color: rgb(35, 100, 221);
}