.title {
  font-size: 60px;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form p {
  font-size: 40px;
  width: 600px;
  display: flex;
  justify-content: center;
}
select {
  height: 40px;
}
input {
  width: 180px;
}
.decision {
  display: flex;
  justify-content: center;
}
.decision input {
  font-size: 20px;
}
.fixedcosts a {
  color: red;
}